.main {
  font-family: Helvetica;
}

.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 50px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.block__h2 {
  font-size: 32px;
  color: white;
}

.block__h2--mediumspringgreen {
  background-color: mediumspringgreen;
}

.block__h2--lightcoral {
  background-color: lightcoral;
}

.block__h2--skyblue {
  background-color: skyblue;
}

.block__span {
  font-weight: bold;
  color: blue;
}
